<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<main class="main">
  <!-- Código do componente Header -->
  <header class="header">
    <nav class="navbar">
      <a class="navbar-brand" href="/home">
        <img  class="img-logo" src="../assets/images/Logo.png" alt="Logo da Loja de Carros" >
      </a>
      <div class="navbar-nav" >
        <a class="nav-link" routerLink="/home">Início</a>
        <a class="nav-link" routerLink="/alugar">Alugar Carro</a>
        <!-- Adicione mais links conforme necessário -->
      </div>
    </nav>
  </header>
  
  </main>
<body>
  
</body>
</html>
<style>

</style>






<router-outlet />
