<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
  
        <div class="container mt-4">
          <h1 class="text-center">Carros Disponíveis para Aluguel</h1>
        
          <div class="row row-cols-1 row-cols-md-3 g-4">
              <!-- SUVs -->
              <div class="col" id="suvSection">
                  <h2 class="text-center">SUVs</h2>
        
                  <!-- Carro 1 - SUV -->
        
                  <div class="card mb-4">
                      <img src="../assets/images/volvo-xc60-v60-polestar-engineered.jpg" class="card-img-top" alt="SUV 1">
                      <div class="card-body">
                          <h5 class="card-title">SUV A</h5>
                          <p class="card-text">Motor: 2.0L</p>
                          <p class="card-text">Preço por Dia: R$ 150</p>
                          <p class="card-text">Preço por Mês: R$ 3000</p>
                          <button href="#" class="btn btn-primary" onclick="openContactForm()">Alugar</button>
                      </div>
                  </div>
        
        
                  <div class="card mb-4">
                      <img src="../assets/images/Porsche-Cayenne-GTS-2021-2.jpg" class="card-img-top" alt="SUV 1">
                      <div class="card-body">
                          <h5 class="card-title">SUV B</h5>
                          <p class="card-text">Motor: 2.0L</p>
                          <p class="card-text">Preço por Dia: R$ 150</p>
                          <p class="card-text">Preço por Mês: R$ 3000</p>
                          <button href="#" class="btn btn-primary" onclick="openContactForm()">Alugar</button>
                      </div>
                  </div>
        
        
                  <div class="card mb-4">
                      <img src="../assets/images/Jaguar_E-PACE_2.jpg" class="card-img-top" alt="SUV 1">
                      <div class="card-body">
                          <h5 class="card-title">SUV C</h5>
                          <p class="card-text">Motor: 2.0L</p>
                          <p class="card-text">Preço por Dia: R$ 150</p>
                          <p class="card-text">Preço por Mês: R$ 3000</p>
                          <button href="#alug" class="btn btn-primary" onclick="openContactForm()">Alugar</button>
                      </div>
                  </div>
        
        
                  
        
              </div>
        
              <!-- Carros Esportivos -->
              <div class="col">
                  <h2 class="text-center">Carros Esportivos</h2>
        
                  <!-- Carro 1 - Esportivo -->
                  <div class="card mb-4">
                      <img src="../assets/images/2018-bmw-m4-cs.jpg" class="card-img-top" alt="Esportivo 1">
                      <div class="card-body">
                          <h5 class="card-title">Esportivo A</h5>
                          <p class="card-text">Motor: 1.8L</p>
                          <p class="card-text">Preço por Dia: R$ 200</p>
                          <p class="card-text">Preço por Mês: R$ 4000</p>
                          <button href="#" class="btn btn-primary" onclick="openContactForm()">Alugar</button>
                      </div>
                  </div>
        
                  <div class="card mb-4">
                      <img src="../assets/images/c63-amg.png" class="card-img-top" alt="Esportivo 1">
                      <div class="card-body">
                          <h5 class="card-title">Esportivo B</h5>
                          <p class="card-text">Motor: 1.8L</p>
                          <p class="card-text">Preço por Dia: R$ 200</p>
                          <p class="card-text">Preço por Mês: R$ 4000</p>
                          <button href="#" class="btn btn-primary" onclick="openContactForm()">Alugar</button>
                      </div>
                  </div>
        
        
                  <div class="card mb-4">
                      <img src="../assets/images/Jaguar-F-Type_3.jpg" class="card-img-top" alt="Esportivo 1">
                      <div class="card-body">
                          <h5 class="card-title">Esportivo A</h5>
                          <p class="card-text">Motor: 1.8L</p>
                          <p class="card-text">Preço por Dia: R$ 200</p>
                          <p class="card-text">Preço por Mês: R$ 4000</p>
                          <button href="#" class="btn btn-primary" onclick="openContactForm()">Alugar</button>
                      </div>
                  </div>
        
        
                 
        
              </div>
        
              <!-- Sedans -->
              <div class="col">
                  <h2 class="text-center">Camionetes</h2>
        
                  <!-- Carro 1 - Sedan -->
                  <div class="card mb-4">
                      <img src="../assets/images/RAM.jpg" class="card-img-top" alt="Sedan 1">
                      <div class="card-body">
                          <h5 class="card-title">Camionete A</h5>
                          <p class="card-text">Motor: 2.5L</p>
                          <p class="card-text">Preço por Dia: R$ 120</p>
                          <p class="card-text">Preço por Mês: R$ 2500</p>
                          <button href="#" class="btn btn-primary" onclick="openContactForm()">Alugar</button>
                      </div>
                  </div>
        
                  <div class="card mb-4">
                      <img src="../assets/images/toyota tundra.jpg" class="card-img-top" alt="Sedan 1">
                      <div class="card-body">
                          <h5 class="card-title">Camionete B</h5>
                          <p class="card-text">Motor: 2.5L</p>
                          <p class="card-text">Preço por Dia: R$ 120</p>
                          <p class="card-text">Preço por Mês: R$ 2500</p>
                          <button href="#" class="btn btn-primary" onclick="openContactForm()">Alugar</button>
                      </div>
                  </div>
        
                  <div class="card mt-4">
                      <img src="../assets/images/ford-f-250-2023-8.jpg" class="card-img-top" alt="Sedan 1">
                      <div class="card-body">
                          <h5 class="card-title">Camionete C</h5>
                          <p class="card-text">Motor: 2.5L</p>
                          <p class="card-text">Preço por Dia: R$ 120</p>
                          <p class="card-text">Preço por Mês: R$ 2500</p>
                          <button href="#" class="btn btn-primary" onclick="openContactForm()">Alugar</button>
                      </div>
                  </div>
        
        
               
        
              </div>
          </div>
        </div>
        </div>
</body>
</html>

